<div class="jumbotron jumbotron-fluid bg-dark text-light p-5">
  <h1>Overworkshop</h1>
</div>

<div class="container">

  <div class="row">

    {{#each postData}}

    <div class="votebox col-1">
      <div class="arrow">&#8679;</div>
      <div>{{score}}</div>
      <div class="arrow">&#8681;</div>
    </div>

    <div class="card col-10 col-md-3">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{desc}}</p>
      </div>

      <div class="card-body">
        <a href="#" class="card-link">{{link}}</a>

      </div>
    </div>

    {{/each}}

  </div>

</div>